<%= form_for @station do |s| %>
  <% if @station.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(station.errors.count, "error") %> prohibited this station from being saved:</h2>

      <ul>
      <% station.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= s.label :index_number %>
    <%= s.number_field :index_number %>
  </div>

  <div class="field">
    <%= s.label :line_name %>
    <%= s.text_area :line_name %>円
  </div>



  <div class="field">
    <%= s.label :how_long %>
    <%= s.number_field :how_long %>分
  </div>

  <div class="actions">

  </div>
<% end %>
