<%= form_for @building do |f| %>
  <% if @building.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(building.errors.count, "error") %> prohibited this building from being saved:</h2>

      <ul>
      <% building.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :物件名 %>
    <%= f.text_area :name %>
  </div>

  <div class="field">
    <%= f.label :賃料 %>
    <%= f.number_field :rent %>円
  </div>

  <div class="field">
    <%= f.label :住所 %>
    <%= f.text_area :address %>
  </div>

  <div class="field">
    <%= f.label :築年数 %>
    <%= f.number_field :age %>年
  </div>

  <div class="field">
    <%= f.label :備考 %>
    <%= f.text_area :info %>
  </div>

<hr>

  <% 3.times do %>
<% @building.stations.each.with_index(3) do |station, i| %>
<% i=0 %>
<% i=i+1 %>
     <h4><%= "最寄り駅#{i}" %></h4>



   <%= f.fields_for :stations do |station| %>
    <div class="field">
      <%= station.label :路線名 %>
      <%= station.text_area :line_name %>
    </div>

    <div class="field">
     <%= station.label :駅名 %>
     <%= station.text_area :station_name %>
   </div>

    <div class="field">
      <%= station.label :徒歩分数 %>
      <%= station.number_field :how_long %>分
    </div>
  <% end %>
  <% end %>
  <% end %>

  <div class="actions">
    <%= f.submit value:'登録する' %>
  </div>
<% end %>
