<h1>閲覧</h1>

<p>
  <strong>物件名:</strong>
  <%= @building.name %>
</p>

<p>
  <strong>賃料:</strong>
  <%= @building.rent %>円
</p>

<p>
  <strong>住所:</strong>
  <%= @building.address %>
</p>

<p>
  <strong>築年数:</strong>
  <%= @building.age %>年
</p>

<p>
  <strong>備考:</strong>
  <%= @building.info %>
</p>


<% @stations.each do |station| %>


<p>
  <strong>路線名:</strong>
  <%= station.line_name %>円
</p>

<p>
  <strong>駅名:</strong>
  <%= station.station_name %>
</p>

<p>
  <strong>徒歩分数:</strong>
  <%= station.how_long %>分
</p>
<% end %>

<%= link_to '編集', edit_building_path(@building) %> |
<%= link_to '戻る', buildings_path %>
